<taglib name="html" />
<script type="text/javascript" src="/assets/Plugin/Laydate/laydate.js"></script>
<div class="padding table-responsive">
	{:crumbs(37,'列表详细','store_menu')}
	<hr />
	
	<table class="table table-bordered table-hover table-striped">
		<tbody> 
			<tr>
				<th>活动标题</th>
				<th>活动海报图</th>
				<th>所属道馆</th>
				<th>活动时间</th>
				<th>报名时间</th>
				<th>已报名人数</th>
				<th>额定人数</th>
				<th>是否开启</th>
				<th>相关操作</th>
			</tr>
			<volist name="activity_list" id="activity">
			<tr>
				<td>{$activity.activity_title}</td>
				<td><img src="{$activity.activity_image}" alt="" width=40 height=40 onclick="showImage('{$activity.activity_image}')" /></td>
				<td>{:get_store_name($activity['store_id'])}</td>
				<td>{$activity.activity_time}</td>
				<td>{$activity.activity_apply_time}</td>
				<td>{$activity.apply_num}/人</td>
				<td>{$activity.activity_nums}/人</td>
				<td>
				<if condition="$activity.status eq 1 ">
					<tag class="badge bg-main">开启</tag>
				<else />
					<tag class="badge bg-dot">关闭</tag>
				</if>
				</td>
				<td>
					-x-x-x-
					<!-- <a href="__CONTROLLER__/edit?activity_id={$activity.activity_id}" class="button bg-blue button-little">编辑</a>
					<if condition="$activity.status eq 1 ">
					<a href="__CONTROLLER__/apply?activity_id={$activity.activity_id}" class="button bg-main button-little">查看报名列表</a>
					<else />
					<a href="javascript:alert('该活动处于关闭状态!')" class="button bg-gray button-little">查看报名列表</a>
					</if>
					<a href="javascript:void(0)" onclick="itemDel({$activity.activity_id},'__CONTROLLER__/del');" class="button bg-dot button-little">删除</a> -->
				</td>
			</tr>
			</volist>
			
		</tbody>
           
	</table>
	<div class="admin-page">  
		{$page_show}
	</div>
</div>