<taglib name="html" />
<div class="padding table-responsive">
	{:crumbs(9,'修改详细')}
	<hr />
	<div class="panel">
		<div class="panel-head "><h4 class='icon-edit '>信息修改</h4></div>
		<div class="panel-body">
			<form method="post" action='' class="form-x"  />
				<input type="hidden" name='id' value='{$admin_info.id}' />
				<table class="table"> 
				
					<tr>
						<td>管理员名称:</td>
						<td style="text-align:left">{$admin_info.user_name}</td>
					</tr>	
				
					<tr>
						<td>管理员邮箱:</td>
						<td style="text-align:left">
							<html:input name='email'  class='input width-250 display-inline-block '  placeholder="管理员邮箱"  value='{$admin_info.email}' datatype='e' /></td>
						</td>
					</tr>
					<tr>
						<td>所属角色:</td>
						<td style="text-align:left">{$admin_info.role_name}</td>
					</tr>	
					<tr> 
						<td>原先密码:</td>
						<td style="text-align:left">
							<html:input name='password' type="password"  class='input width-250 display-inline-block '  placeholder="角色密码"  value='' datatype='*' /></td>
						</td>
					</tr>
					<tr> 
						<td>新密码:</td>
						<td style="text-align:left">
							<html:input name='new_password' type="password"  class='input width-250 display-inline-block '  placeholder="新密码"  value='' datatype='*' /></td>
						</td>
					</tr>
					<tr> 	
						<td>管理员状态:</td>
						<td style="text-align:left">
							<if condition="$admin_info.status eq 1 ">
							<i class="icon-check text-main"></i>启用
							<else />
							<i class="icon-exclamation-triangle text-yellow">禁用</i>
							</if>
						</td>
						
					</tr>
					<tr>
						<td colspan="2"><input value="保存" class="button bg-blue" type="submit"></td>
					</tr>
				</table>
			</form>	
		</div>
	</div>
</div>

<script type="text/javascript"> 
	$(function(){
		$(".form-x").Validform({	
			tiptype:3,
			ajaxPost:true,
			showAllError : true,
			callback:function(data){
				if(data.status==1){
					layer.msg(data.info,{time: 3000},function(){
						layer.closeAll();
						//window.location.href='__CONTROLLER__/adminList';
					});	
				}else{
					layer.msg(data.info);
				}
			}
		});
	});
</script>

