<taglib name="html" />
<div class="padding table-responsive">
	{:crumbs(25,'详细')}
	<hr />
	<div class="panel">
		<div class="panel-head bg-main"><h4 class='icon-edit '>编辑/添加品牌</h4></div>
		<div class="panel-body">
			<form method="post" action='' />
				<input type="hidden" name='brand_id' value='{$brand_info.brand_id}' />
				<table class="table"> 
					<tr>
						<td>品牌名称:</td>
						<td><html:input name='brand_name' required='no' class='input width-250'  placeholder="品牌名称"  value='{$brand_info.brand_name}'  /></td>
					</tr>
					<tr>
						<td>品牌状态:</td>
						<td style="text-align:left">
							
							<input name="brand_status" type="radio" value=1 <if condition="$brand_info.brand_status eq 1 ">  checked="checked" </if> />启用
						
							<input name="brand_status" type="radio" value=0 <if condition="$brand_info.brand_status eq 0 "> checked="checked" </if> />禁用
							
						</td>
					</tr>
					<tr>
						<td colspan="2"><input value="保存" class="button bg-blue" type="submit"></td>
					</tr>

				</table>
			</form>	
		</div>
	</div>
	
</div>	
