<taglib name="html" />

<div class="padding table-responsive">
	{:crumbs(17,'编辑/添加','store_menu')}
	<hr />
	<form method="post"  action='__ACTION__' class="form-x"  enctype="multipart/form-data">
	
		<input type="hidden"  name='article_id'  value="{$article_info['article_id']}" />
		<table class="table table-hover" style=''>
		
			<tr>
				<td style="width:160px;">资讯标题:</td>
				<td class="text-left"><html:input name='article_title' class='input  display-inline-block' style="width:60%"  value="{$article_info['article_title']}"  datatype='*2-48'/></td>
			</tr>
			
			<tr>
				<td>资讯缩略图:</td>
				<td style='text-align:left'>
					<span class="button bg-yellow" id='img_upload'>缩略图</span>
					<html:uploadImage ue_id='picarr' img_upload='img_upload' img_preview='img_preview' />
					<div id="img_preview">
						{$album}
					</div>
				</td>
			</tr>
			
			<tr>
				<td style="width:160px;">来源:</td>
				<td class="text-left"><html:input name='article_source' class='input  display-inline-block' style="width:60%"  value="{$article_info['article_source']}"  datatype='*2-48'/></td>
			</tr>
		
			
			<tr>
				<td>资讯内容详情:</td>
				<td>
					 <html:editor id="editor" name="article_content"  width='80%' content="{$article_info['article_content']}"  ></html:editor>
				</td>
			</tr>
			<tr> 	
				<td>是否显示:</td>
				<td style="text-align:left">
					<input name="status" type="radio" value=1 <if condition="$article_info.status eq 1 "> checked="checked" </if> />显示
					<input name="status" type="radio" value=0 <if condition="$article_info.status eq 0 "> checked="checked" </if> />隐藏	
				</td>
			</tr>
			
		</table>
		<div style='text-align:center' class="padding">
			<button class="button button-big" type="submit"><span class="icon-edit text-blue"></span>提交修改</button>
		</div>
	</form>
</div>

<script type="text/javascript"> 
	$(function(){
		$(".form-x").Validform({	
			tiptype:3,
			ajaxPost:true,
			showAllError : true,
			callback:function(data){
				if(data.status==1){
					layer.msg(data.info,{time: 3000,icon:1},function(){
						layer.closeAll();
						window.location.href='__CONTROLLER__/index.html';
					});	
				}else{
					layer.msg(data.info,{icon:2});
				}
			}
		});
	});
</script>