<taglib name="html" />
<script type="text/javascript" src="/assets/Plugin/Laydate/laydate.js"></script>
<div class="padding table-responsive">
	{:crumbs(17,'列表详细')}
	<hr />
	<!-- <div class="alert margin-bottom"><a href="__CONTROLLER__/add" class="button border-main icon-plus-square">&nbsp;新增</a></div> -->
	<table class="table table-bordered table-hover table-striped">
		<tbody> 
			<tr>
				<th>序号</th>
				<th>资讯标题</th>
				<th>资讯缩略图</th>
				<th>来源</th>
				<th>更新时间</th>
				<th>是否显示</th>
				<th>所属道馆</th>
				<th>相关操作</th>
			</tr>
			<volist name="article_list" id="article">
			<tr>
				<td>{++$key}</td>
				<td>{$article.article_title}</td>
				<td><img src="{$article.article_image}" alt="" width=40 height=40 onclick="showImage('{$article.article_image}')" /></td>
				<td> {$article.article_source|default='暂无来源'}</td>
				
				<td>{$article.time|date='Y-m-d H:i:s',###}</td>
				<td>
				<if condition="$article.status eq 1 ">
					<tag class="badge bg-main">显示</tag>
				<else />
					<tag class="badge bg-dot">隐藏</tag>
				</if>
				</td>
				<td>{:get_store_name($article['store_id'])}</td>
				<td>
					<a href="__CONTROLLER__/edit?article_id={$article.article_id}" class="button bg-blue button-little">编辑</a>
					<a href="javascript:void(0)" onclick="itemDel({$article.article_id},'__CONTROLLER__/del');" class="button bg-dot button-little">删除</a>
				</td>
			</tr>
			</volist>
			
		</tbody>
           
	</table>
	<div class="admin-page">  
		{$page_show}
	</div>
</div>