<taglib name="html" />
<script type="text/javascript" src="/assets/Plugin/Laydate/laydate.js"></script>
<div class="padding table-responsive">
	{:crumbs(13,'编辑','store_menu')}
	<hr />
	<form method="post"  action='__ACTION__' class="form-x"  enctype="multipart/form-data">
	
		<input type="hidden"  name='badge_id'  value="{$badge_info['badge_id']}" />
		<table class="table table-hover" style=''>
		
			<tr>
				<td style="width:160px;">徽章名称:</td>
				<td class="text-left"><html:input name='badge_name' class='input  display-inline-block' style="width:28%"  value="{$badge_info['badge_name']}"  datatype='*2-48'/></td>
			</tr>
			
			<tr>
				<td>徽章图片:</td>
				<td style='text-align:left'>
					<span class="button bg-yellow" id='img_upload'>徽章图片</span>(默认第一张为点亮图片,第二张为灰图片)
					<html:uploadImage ue_id='picarr' img_upload='img_upload' img_preview='img_preview' />
					<div id="img_preview">
						{$album}
					</div>
				</td>
			</tr>
			
			<tr> 	
				<td>徽章类别:</td>
				<td style="text-align:left">
					<input name="badge_type" type="radio" value=2 <if condition="$badge_info.badge_type eq 2 "> checked="checked" </if> />赛事徽章
					<input name="badge_type" type="radio" value=3 <if condition="$badge_info.badge_type eq 3 "> checked="checked" </if> />活动徽章
					
				</td>
			</tr>
			<tr> 	
				<td>徽章说明:</td>
				<td style="text-align:left">
					<textarea name="desc" class='input'  rows="4" cols="50">{$badge_info.desc}</textarea>
				</td>
			</tr>
			

			<tr class="hidden">
				<td>内容详情:</td>
				<td>
					 <html:editor id="editor" name="content"  width='80%' content="{$badge_info['content']}"  ></html:editor>
				</td>
			</tr>
			<tr> 	
				<td>是否显示:</td>
				<td style="text-align:left">
					<input name="status" type="radio" value=1 <if condition="$badge_info.status eq 1 "> checked="checked" </if> />显示
					<input name="status" type="radio" value=0 <if condition="$badge_info.status eq 0 "> checked="checked" </if> />隐藏	
				</td>
			</tr>
			
		</table>
		<div style='text-align:center' class="padding">
			<button class="button button-big" type="submit"><span class="icon-edit text-blue"></span>提交修改</button>
		</div>
	</form>
</div>

<script type="text/javascript"> 
	$(function(){
		$(".form-x").Validform({	
			tiptype:3,
			ajaxPost:true,
			showAllError : true,
			callback:function(data){
				if(data.status==1){
					layer.msg(data.info,{time: 3000,icon:1},function(){
						layer.closeAll();
						window.location.href='__CONTROLLER__/index.html';
					});	
				}else{
					layer.msg(data.info,{icon:2});
				}
			}
		});
	});
</script>