<taglib name="html" />
<script type="text/javascript" src="/assets/Plugin/Laydate/laydate.js"></script>
<div class="pbadgeding table-responsive">
	{:crumbs(31,'列表详细','store_menu')}
	<hr />

	<table class="table table-bordered table-hover table-striped">
		<tbody> 
			<tr>
				<th>序号</th>
				<th>徽章名称</th>
				<th>徽章图标</th>
				<th>徽章图标(未点亮)</th>
				<th>徽章类型</th>
				<th>是否显示</th>
				<th>相关操作</th>
			</tr>
			<volist name="badge_list" id="badge">
			<tr>
				<td>{++$key}</td>
				<td>{$badge.badge_name}</td>
				<td><img src="{$badge.badge_icon}" alt="" width=40 height=40 onclick="showImage('{$badge.badge_icon}')" /></td>
				<td><img src="{$badge.badge_icon_disable}" alt="" width=40 height=40 onclick="showImage('{$badge.badge_icon_disable}')" /></td>
				<td> 
				<if condition="$badge.badge_type eq 1 ">训练徽章 </if>	
				<if condition="$badge.badge_type eq 2">	赛事徽章</if>	
				<if condition="$badge.badge_type eq 3">活动徽章</if>
				</td>
			
				<td>
				<if condition="$badge.status eq 1 ">
					<tag class="badge bg-main">显示</tag>
				<else />
					<tag class="badge bg-dot">隐藏</tag>
				</if>
				</td>
				<td>
				<if condition="$badge.is_sys eq 1 ">
					-x-x-x-
				<else />
					<a href="__CONTROLLER__/edit?badge_id={$badge.badge_id}" class="button bg-blue button-little">编辑</a>
					<a href="javascript:void(0)" onclick="itemDel({$badge.badge_id},__CONTROLLER__/del);" class="button bg-dot button-little">删除</a>
				</if>
				</td>
			</tr>
			</volist>
			
		</tbody>
           
	</table>
	<div class="admin-page">  
		{$page_show}
	</div>
</div>